.contact-container{
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.percentage{
    margin-bottom: 8px;
    color: var(--primary-600, #437EF7);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.1px;
}
.welcome{
    margin-bottom: 16px;
    color: var(--gray-700, #272D37);
    text-align: center;
    /* Headline M/Mobile/Semibold */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.56px;
}
.contact-email{
    margin: 1em;
    width: 100%;
    box-sizing: border-box;
}
.contact-email input{
    border: 1px solid rgb(196, 192, 192);
}
.contact-email button{
    background-color: #437EF7;
    border: none;
    color: white;
}
.contact-email input, .contact-email button{
    box-sizing: border-box;
    /* max-width: 100%; */
    padding: 15px 16px;
    margin-bottom: 1em;
    border-radius: 6px;
    width: 100%;
}

.why-contact{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.why-contact > div{
    margin: 1em;
    display: flex;
    align-items: center;
        color: var(--gray-700, #272D37);

    /* Text L/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
}
.why-contact img{
    margin-right: 12px;
    border-radius: 50%;
    padding: 3px;
    background-color: #437EF7;
}
@media screen and (min-width : 600px) {
    .welcome{
        margin-bottom: 32px;
    }
    .contact-email{
        margin: 2em 1em 1em 1em;
        display: flex;
        max-width: 450px;
    }
    .contact-email input{
        width: 70%;
        border-radius: 6px 0px 0px 6px;
    }
    .contact-email button{
        width: 30%;
        border-radius: 0px 6px 6px 0px;
    }
}

@media screen and (min-width : 1100px) {
    .contact-container{
        margin: 64px 0;
    }
    .welcome{
        width: 752px;
    }
}