.footer{
    padding: 2em 3em;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.footer-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(94, 94, 94);
}
.footer-upper-right, .footer-upper-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-upper-center{
    width: 100%;
    color: #A5ACBA;
    margin-bottom: 1.5em;
}
.footer-upper-center p{
    margin: 0;
}
.footer-upper-right{
    width: 100%;
}
.footer-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    color: white;
    width: 100%;
}
.footer-lower{
    color: #A5ACBA;
    font-size: 0.8rem;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-lower div{
    order: -1;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.footer-upper-right img{
    width: 84px;
    height: 24px;
}

@media screen and (min-width : 780px ){
    .footer{
        padding: 4em;
    }
    .footer-left{
        display: inline;
        width: 20%;
        margin: 0;
    }
    .footer-upper{
        flex-direction: row;
    }
    .footer-upper-center{
        width: 40%;
        margin: 0;
    }
    .footer-upper-right{
        width: 10%;
    }
    .footer-upper-right img{
        width: 15px;
        height: 15px;
    }
    .footer-lower{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer-lower div{
        order: 1;
        display: flex;
        width: 25%;
        justify-content: space-between;
        align-items: center;
    }
}